table {
    border-collapse: collapse;
    margin: 15px 0;
}
h1{
    display: flex;
    justify-content:center;
    align-items:center;
}
.container{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.06);
}

.jumbotron{
    background-image: url(img/coffee_cup.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


