* {
	font-family: 'Creepster', cursive;
	color: rgb(255, 87, 51);
	min-height: 100%;

}

table {
	border-collapse: collapse;
	margin: 15px 0;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 0;
	background-color: rgba(87, 24, 69, .75);

}

.navbar {
	width: 65%;
}

.jumbotron {
	background-image: url(img/20190816-Coffee-08.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body {
	background-image: url(https://media.giphy.com/media/3ohze2v9DClNU2Cdl6/giphy.gif?cid=ecf05e47jf9eynrv8hzua5kyz3jta3plbjz7fsjblg9b1ux7&rid=giphy.gif&ct=g);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;


}

.container-add {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-add {
	display: flex;
	align-items: center;
	justify-content: center;
}

#add-roast {
	margin-left: 1em;
}

#name-add-roast {
	margin-top: 12px;
}

footer {
	background: #494949;
}

.nav-link {
	color: #ffc300
}


